* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: papayawhip;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .25rem;
}

.bigger {
    font-size: 20px;
}

#frame {
    width: 90vw;
    margin: auto;
    padding: 1.5rem;
    margin-bottom: .9px;
}

#frame:nth-child(odd) {
    border: 4px solid rgb(242, 74, 8);
}

#frame:nth-child(even) {
    border: 4px solid rgb(90, 1, 1);
}

#frame:nth-child(odd) {
    color: black;
}

#frame:nth-child(even) {
    color: red;
}

.combination {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

