* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto Mono', monospace;
   user-select: none;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('images/track.jpg') no-repeat center center/ cover;
   height: 100vh;
}

.container {
   background-color: rgb(28, 54, 72);
   color: #FFF;
   width: 45%;
   height: 16rem;
   border-radius: 2rem;
   box-shadow: 0 0 2.5rem rgb(61, 1, 13);
}

#timer {
   font-size: 4.25rem;
   margin: 0 auto;
   text-align: center;
   padding: 2rem
}

.buttons {
   text-align: center;
   border: none;
}

button {
   margin: 0 .75rem;
}

button i {
   font-size: 2.25rem;
   padding: .75rem;
   width: 4rem;
}

#play {
   background-color: green;
}

#pause {
   background-color: orange
}

#reset {
   background-color: red;
}