* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Phudu', cursive;
   user-select: none;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: rgb(54, 69, 79);
   border: 5px solid #FFF;
   height: 100vh;
   background: url('images/library.jpg') no-repeat center center / cover;
}

.container {
   width: 35rem;
   height: 30rem;
}
   
.header {
   font-size: 1.25rem;
   color: #FFF;
   background-color: #262626;
   padding: .35rem;
   border: 2px solid #FFF;
   border-radius: .6rem;
   width: 85%;
   margin: 2rem auto;
}

.main-content {
   width: 100%;
   height: 25rem;
   background-color: rgb(28, 54, 72);
   box-shadow: 0 0 1rem;
   padding: 4.5rem 3.5rem;
   border-radius: .6rem;
}

.main-content .text-area {
   color: #FFF;
   line-height: 1.4;
   font-size: 1.5rem;
}

.main-content .creator {
   font-size: 1.65rem;
   color: crimson;
   text-transform: uppercase;
   margin: 1.3rem 0;
}

.buttons button {
   color: #FFF;
   background-color: rgb(28, 54, 72);
   font-size: 1.3rem;
   padding: .7rem 1rem;
   border-radius: .8rem;
}

.buttons button:active {
   background-color:  rgba(28, 54, 72, .75);
}